#canvas1 {
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    height: 650px;
    width: 750px;
    background-color: #bfbdbd;
}

body {
    background: rgb(30,30,30);
    background: linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(60,60,60,1) 50%, rgba(30,30,30,1) 100%);
}